.call-to-action {
  position: relative;
  background-color: $gray-800;
  background-image: image-url(/assets/bg-showcase-2.jpg) no-repeat center center; 
  background-size: 100% ;
  padding-top: 7rem;
  padding-bottom: 7rem;
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
}
